<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzfq.fms.dao.SysUserMapper">

  <resultMap id="BaseResultMap" type="com.jzfq.fms.domain.SysUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
    <result column="role_ids" jdbcType="VARCHAR" property="roleIds" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="credentials_salt" jdbcType="VARCHAR" property="credentialsSalt" />
  </resultMap>

  <sql id="Base_Column_List">
    id, username, real_name, password, position, create_time, update_time, del_flag, role_ids, salt, credentials_salt
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select  
    <include refid="Base_Column_List" />
    from sys_user
    where id = #{id,jdbcType=INTEGER}
  </select>

  <update id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    UPDATE sys_user SET del_flag = 1
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--<insert id="insert" parameterType="com.jzfq.rms.domain.SysUser" useGeneratedKeys="true" keyProperty="id">
    insert into sys_user (id, username, real_name, 
      password, position, create_time, 
      update_time, del_flag)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=TINYINT})
  </insert>-->

  <insert id="insertSelective" parameterType="com.jzfq.fms.domain.SysUser">
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="realName != null">
        real_name,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="position != null">
        position,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="roleIds != null">
        role_ids,
      </if>
      <if test="salt != null">
        salt,
      </if>
      <if test="credentialsSalt != null">
        credentials_salt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="roleIds != null">
        #{roleIds,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="credentialsSalt != null">
        #{credentialsSalt,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.jzfq.fms.domain.SysUser">
    update sys_user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="roleIds != null">
        role_ids = #{roleIds,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="credentialsSalt != null">
        credentials_salt = #{credentialsSalt,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update> 

  <select id="getUserByUserName" resultMap="BaseResultMap" parameterType="string">
      SELECT
      <include refid="Base_Column_List"/>
      FROM sys_user WHERE username = #{username}

  </select>

  <select id="getUserByUserNameAndPwd" resultMap="BaseResultMap" parameterType="string">
      SELECT
      <include refid="Base_Column_List"/>
      FROM sys_user WHERE username = #{username} and password = #{pwd}
  </select>

  <select id="findUserList" parameterType="com.jzfq.fms.common.common.PageVo" resultMap="BaseResultMap">
      SELECT <include refid="Base_Column_List"/>
      FROM sys_user WHERE del_flag = 0
    <if test="vo.parameters.username!=null">
      and username LIKE CONCAT(#{vo.parameters.username},'%' )
    </if>
    <if test="vo.parameters.realName!=null">
      or real_name LIKE CONCAT(#{vo.parameters.realName},'%' )
    </if>
    <if test="vo.parameters.position!=null">
      or position LIKE CONCAT(#{vo.parameters.position},'%' )
    </if>
     <if test="vo.sort!=null">
       order by
	     <if test="vo.sort.username!=null">
	       username ${vo.sort.username}
	    </if>
	    <if test="vo.sort.realName!=null">
	       real_Name ${vo.sort.realName}
	    </if>
	    <if test="vo.sort.password!=null">
	       password ${vo.sort.password}
	    </if>
	    <if test="vo.sort.position!=null">
	       position ${vo.sort.position}
	    </if>
	    <if test="vo.sort.createTime!=null">
	       create_Time ${vo.sort.createTime}
	    </if>
	     <if test="vo.sort.updateTime!=null">
	       update_Time ${vo.sort.updateTime}
	    </if>
    </if>
  </select>

  <update id="modifyPassword" parameterType="com.jzfq.fms.domain.SysUser">
    update sys_user
    set
    password = #{password,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>